header,
.background-brand,
.product-icon,
main .secondary-options .front-option::after,
.benefits li::after,
#ChatLauncherminimized, #launcher, #launcherminimized, #servicecaselauncherminimized {
	background-color: #18BC9C;
}

header .menu-overlay a:hover,
header .menu-overlay a:active,
header .menu-overlay a:focus {
	background-color: #0076DE;
	color: #FFF;
}

body .color-brand {
	color: #0076DE;
}

.border-brand {
	border-color: #0076DE;
}

/* Home page */
h2 {
    color: #000 !important;
    font-weight: normal !important;
}
.front>header {
	/*background-image: url('../img/hero-1.jpg');*/
	background-position: 50% 53% !important;
    background-size: contain !important;
    background-color: #18BC9C;
	/*margin-top: -58px;*/
}
/* Account page */
.form>header {
	/*background-image: url('../img/hero-1.jpg');*/
	padding:0;
}

/* Offer page */
.offer header {
	background-image: url('../img/hero-1.jpg');
}

.headerwrapper {
	background-color: #2C3E50;
}
.wrap.header.flex {
	padding: 14rem;
	background-color: #2C3E50;
	max-width: 1300rem;

}

.wrap.header {
	align-items: center;
}

div#row div.row1 {
    float: left;
}

div#row div.row2 {
    float: left;
    margin-left: 50px;
}

div#row .__link{
    color: #fff;
    font-size: 1.3em;
    font-weight: normal;
    line-height: 50px;
    background: transparent url(../img/link_background.png) no-repeat;
    padding-left: 20px;
}

div#row .__button {
    color: #fff;
    font-size: 1.2em;
    font-weight: normal;
    margin-bottom: 10px;
    padding: 0 5px;
    display: block;
    width: 100%;
    text-align: left;
    background: #2C3E50 url(../img/button_background.png) no-repeat center right;
    padding-right: 30px;
}
/*.hero-wrap button.more {
    width: 194rem !important;
    border-radius: 40px;
    color: #0064c1 !important;
    display: none;
}*/
.primary-options>.front-option>.details {
    margin-top: 100rem !important;
    border: 1px solid rgba(0,0,0,0.125);
    padding: 10px;
    text-align: left;
}

.primary-options>.front-option>.details a {
    color: #fff;
    background-color: #18BC9C;
    border-color: #18BC9C;
    padding: 3px 5px;
    font-size: 0.8em;
    border-radius: 3px;
    font-weight: normal;
}

.primary-options>.front-option>.details p {
	font-size: 1em;
}


/* window size */
chat-button #OnlineHelp.alerting, .chat-button #ServiceCaseGadget.alerting {
    bottom: 20px;
    min-width: 550px;
}
/* Chat header background colour */
.channel_client .chat-header {
    background-color: #2C3E50;
}
/* Chat bot icon background colour */
.channel_client .chat-header .chat-icon {
    background: #18BC9C;
}
/* Send button icon background colour */
.channel_client .submit-button button.Strong.pzhc.pzbutton {
    background-color: #18BC9C;
}
/* Send button icon background colour for hover/active/focus state */
.channel_client .submit-button button.Strong.pzbutton:not([disabled]):hover,
.channel_client .submit-button .Strong button.buttonTdButton:not([disabled]):hover,
.channel_client .submit-button button.Strong:not([disabled]):hover,
.channel_client .submit-button button.Strong.pzbutton:not([disabled]):active,
.channel_client .submit-button .Strong button.buttonTdButton:not([disabled]):active,
.channel_client .submit-button button.Strong:not([disabled]):active,
.channel_client .submit-button button.Strong.pzbutton:not([disabled]):focus,
.channel_client .submit-button .Strong button.buttonTdButton:not([disabled]):focus,
.channel_client .submit-button button.Strong:not([disabled]):focus {
   background-color: #0c8b72;
}
/* Chat icon for bot - background colour */
.channel_client .simulator-icon {
    background: #18BC9C;
}
/* Customer chat message background colour */
.channel_client .conversation .client_input {
    background: #18BC9C;
}
/* Attachment icon colour */
.channel_client .add-attachment i {
    color: #2C3E50;
}
/* Submit area top border */
.channel_client .submit_area {
    border-top: 2px solid #2C3E50;
}

/* Chat bot window size */
.chat-button #OnlineHelp.alerting, .chat-button #ServiceCaseGadget.alerting {
    bottom: 20px;
    min-width: 550px;
}
