header,
.background-brand,
.product-icon,
main .secondary-options .front-option::after,
.benefits li::after,
#ChatLauncherminimized, #launcher, #launcherminimized, #servicecaselauncherminimized {
	background-color: #18BC9C;
}

header .menu-overlay a:hover,
header .menu-overlay a:active,
header .menu-overlay a:focus {
	background-color: #0076DE;
	color: #FFF;
}

body .color-brand {
	color: #0076DE;
}

.border-brand {
	border-color: #0076DE;
}

/* Home page */
.front>header {
	background-image: url('../img/hero-1.jpg');
}
/* Account page */
.form>header {
	/*background-image: url('../img/hero-1.jpg');*/
	padding:0;
}

/* Offer page */
.offer header {
	background-image: url('../img/hero-1.jpg');
}

.headerwrapper {
	background-color: #2C3E50;
}
.wrap.header.flex {
	padding: 14rem;
	background-color: #2C3E50;
	max-width: 1300rem;

}

.wrap.header {
	align-items: center;
}
